<div class="container">
  <div class="h1-index-list">
    <h1 class="liste-des-films">Liste des styles de films</h1>
  </div>

  <div class="div-de-la-photo-et-du-nom-de-la-liste">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class:'link-index' do %>
      <div class="photos-and-name-list">
        <%= list.name %>
          <%= cl_image_tag list.photo.key, class:"image-list"%>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
