<div class="container">
  <div class="h1-index-list">
    <h1 class="liste-des-films">Liste des styles de films</h1>
  </div>

  <div class="row d-flex justify-content-center">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class:'link-index' do %>
      <div class="col-sm-12 col-md-3">
        <%= list.name %>
          <%= cl_image_tag list.photo.key, class: "d-block w-100" %>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
