.d-block {
  border-radius: 8px;
}

.liste-des-films{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}

.h1-index-list{
  width: 100%;
  display: flex;
  justify-content: center;
}
