.d-block {
  border-radius: 8px;
}

.liste-des-films{
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
}

.h1-index-list{
  width: 100%;
  display: flex;
  justify-content: center;
}


.link-index{
  text-decoration: none;
  color: black;
}

.link-index:hover{
  color:black;
}



.photos-and-name-list{
  width: 250px;
  height: 250px;
}

.image-list{
  width: 100%;
  border-radius: 8px;
}

.div-de-la-photo-et-du-nom-de-la-liste{
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
